@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --primary-color: #14B498;
    --secondary-color: #444;
    --light-color:#F3F3F3;
}

*{
    box-sizing: border-box;
}

body {
   font-family: 'Heebo', sans-serif;
    color: #333;
    font-weight: 300;
    overflow-x: hidden;
}

img {
    max-width: 100%;
    height: auto;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Heebo', sans-serif;
}
a{
    text-decoration: none;
}
a:hover{
    color: var(--primary-color);
}
a:hover,a:focus{
    text-decoration: none;
}
li{
    list-style: none;
    text-decoration: none;
}
.container{
    max-width: 1100px;
}


