.img-border-radius{
    border-radius: 5px;
}

.font-italic{
    font-style: italic;
}
.primary-color{
    background-color: $white;
    color: var(--primary-color);
}
.bg-primary{
    background-color: var(--primary-color);
    color: $white;
}

.secondary-color{
    background-color: $white;
    color: var(--secondary-color);
}
.bg-secondary{
    background-color: var(--secondary-color);
    color: $white;
}

.bg-white-lg{
    background-color: $white;
    color: var(--secondary-color);
    padding: 105px 0;  
    
}
.bg-white-sm{
    background-color: $white;
    color: var(--secondary-color);
    padding: 50px 0;  
    
}
.bg-darkBlue{
    background-color: $darkBlue;
    color: $white;
}
.color-white{
    color: $white;
}

.btn-primary{
    border-radius: 4px;
    background-color: var(--primary-color);
    color: $white;
    padding: 12px 35px; 
    text-transform: uppercase;
    font-weight: bold;
}
.btn-primary:hover{
    background-color:transparent;
    color: var(--primary-color);
    border: .5px solid var(--primary-color);
    transition: all .3s;
}

.heading-sm{
    color: var(--primary-color);
    text-transform: uppercase;
    letter-spacing: 1px;
}
.heading-lg{
    color: var(--secondary-color);
    font-weight: bold;
    line-height: 3.7rem;
}
.bg-darkBlue .heading-lg{
    color: $white;
}
.sub-text{
    color: #777;
    font-size: 17px;
    font-weight: 400;
    margin-top: 1.7rem;
}
.text-sm{
    color: var(--secondary-color);
    font-size: 18px;
    font-weight:700;
    letter-spacing: 1.3px;
    margin-top: 2.3px;
}
.text-md{
    color: var(--secondary-color);
    font-size: 22px;
    font-weight:700;
    letter-spacing: 1px;
    margin-top: 2.3px;
}
.active{
    color: var(--primary-color);
}
.unactive{
    color: #CCC;
}
/*
.unactive:hover{
    color: var(--primary-color);
}*/