#about{
    padding-top: 7rem;
}
.left-section{
    padding-right:4rem;
}
.points{
    margin: 0;
    padding: 0;
}

.counts div{
    display: inline;
}
.numbers{
    font-size: 5rem;
    font-weight: bold;
    color: var(--primary-color);
}
.status{
    font-size: 15px;
    margin-top: 13px;
}