#callme .bg-darkBlue .text-sm{
    color: #DDD;
    font-weight: normal;
    padding: 20px 0;
}
#callme .points{
    margin: 0;
}
#callme .bg-darkBlue .sentence{
    color: #DDD;
}

#callme .left-section{
    padding: 10rem 5rem;
}
#callme .right-section{
    padding: 12rem 5rem;
}

.right-section input,
.right-section select{
    background-color: #2A5D77;
    color: $white;
    border: none;
    padding: 25px 20px;
}


.right-section select{
     height: 50px;
    padding: 0 20px;
}

.right-section small{
    color: $white;
}
.right-section input:hover{
    border: 1px solid $white;
     padding: 24px 19px;
}
.right-section select:hover{
    border: 1px solid $white;
    padding: 0 19px;
}
.right-section input:focus{
    border: 1px solid $white;
     padding: 24px 19px;
}
.right-section select:focus{
    border: 1px solid $white;
    padding: 0 19px;
}
.form-check label{
    font-family: 'Heebo';
    font-weight: normal;
}
.form-check a{
    color: $white;
}
.form-button a{
    padding: 12px 19.5rem;
}
.form-button a:hover{ 
border: .5px solid var(--primary-color);
}