#contact .contact-number{
    display: inline;
}

#contact .fas{
    color: var(--primary-color);
    font-size: 17px;
}

.address{
    &-location{
        font-size: 17px;
        font-weight: normal;
        margin-left: 8px;
         color: #777;
    }
}
#contact .contact-number{
   line-height: 50px;
}
#contact u{
    color: #777;
    margin-left: 10px;
    margin-right: 20px;
    font-weight: normal;
}
#contact .fa-stack{
    margin-right: 3rem;
    margin-bottom: 0.75rem;
    margin-left: 0.125rem;
    width: 3.25rem;
    height: 3.25rem;
}
#contact .left-section .fa-stack .hexagon{
    position: absolute;
    width: 5.2rem;
    height: 5.2rem;
    background: url(assets/images/icons/hexagon-green.svg) center center no-repeat;
    background-size: 5.2rem 5.2rem;
    transition: all 0.5s ease;
}
#contact .left-section .fa-stack:hover i{
    color: var(--primary-color);
}
#contact .left-section .fa-stack:hover .hexagon{
    position: absolute;
    width: 5.2rem;
    height: 5.2rem;
      background: url(assets/images/icons/hexagon-white.svg) center center no-repeat;
        background-size: 5.2rem 5.2rem;
    transition: all 0.5s ease;
}
#contact .fa-stack i{
    font-size: 2.2rem;
    line-height: 5.2rem;
    color: #fff;
    left: 9.8px;
    position: absolute;
    text-align: center;
    width: 100%;
    transition: all 0.5s ease;
}

#contact .right-section input,
#contact .right-section select,
#contact .right-section textarea{
    background-color: $white;
    color: var(--secondary-color);
    border: 1px solid #DDD;
    padding: 25px 20px;
}


#contact .right-section select{
     height: 50px;
    padding: 0 20px;
}

#contact .right-section small{
    color: $white;
}
#contact .right-section input:hover{
    border: 1px solid #AAA;
     padding: 25px 20px;
}

#contact .right-section textarea:hover{
    border: 1px solid #AAA;  
}

#contact .right-section textarea:focus{
    border: 1px solid #AAA;  
}
#contact .right-section input:focus{
    border: 1px solid #AAA;
     padding: 25px 20px;
}
#contact .right-section label{
    color: var(--secondary-color);
    font-family: 'Heebo';
    font-weight: normal;
    margin-top: 13px;
}
#contact .right-section u{
    color: var(--secondary-color);
    margin: 0;
}
#contact .form-check a{
    color: $white;
}
#contact .form-button{
    margin-top: 2.5rem;
}
#contact .form-button a{
    padding: 12px 19.9rem;
}
#contact .form-button a:hover{ 
border: .5px solid var(--primary-color);
}