/*
#footer .bg-darkBlue{
    margin-bottom: 0;
}
*/
#footer .bg-darkBlue{
    padding: 5rem 0;
}
u{
    font-size: 15px;
}
#footer .bg-darkBlue,
#footer .bg-darkBlue a>u{
    color: #EEE;
}
#footer .col-md-3{
    margin-left: 5rem;
    line-height: 2.5rem;
}
.designer-tag{
    margin-top: 5.5rem;
    font-size: 17px;
}