.header {
    width: 100%;
    height: 6rem;
    z-index: 8888;
    
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    
    &-sticky{
        position: sticky;
        top: 0;
        left: 0;
    }
    
/*
    &-logo {
        //use this to change the properties of logo visible in header
        max-width: 180px;
        margin: auto;
    }
*/
    
    
    &-inside{
/*        padding: 3rem 2rem;*/
        padding-top: 1.3rem;
    }
    
}

.logo img{
    margin-top: .1rem;
    margin-left: -46rem;
}
.menu-list{
    
    width: 124rem;
   
    &-item{
        padding-top: .7rem;
        font-size: 1.5rem;
        text-transform: uppercase;
        font-weight:500;
        
        &-link:hover,&-link:focus{
            color:var(--primary-color);
            transition: all .5s;
        }
    }
}
.fab:hover{
   color:var(--primary-color); 
    cursor: pointer;
    transition: all .5s;
}
.icon-facebook{
    margin-left: -2rem;
    font-size: 1.7rem;
}
.icon-twitter{
    margin-left: -5rem;
    font-size: 1.7rem;
}