.showcase{
    background: #333 url(assets/images/header-background.jpg) no-repeat fixed center center;
    background-size:cover;
    height: 100vh;
    color:  #fff;

    &-content{
        display: flex;
        background: rgba(0, 0, 0, 0.5);
        flex-direction: column;
        height: 100%;
        justify-content: center;
    
    
        &-title{
            font-size: 6rem;
            text-transform: uppercase;
        }
        
        &-description{
            font-size: 2rem;
/*            width: 70rem;*/
            padding: 0 45rem;
        }
        &-btn{
            padding-top: 25px;
        }
    }
    
}


.fa-stack{
    margin-left: 10px;
    position: relative;
    width: 3.25rem;
    height: 3.25rem;
}
.fa-stack .hexagon{
    position: absolute;
    width: 3rem;
    height: 3rem;
    background: url(assets/images/icons/hexagon-green.svg) center center no-repeat;
    background-size: 3rem 3rem;
}
.fa-stack:hover i{
    color: var(--primary-color);
}
.fa-stack:hover .hexagon{
    position: absolute;
    width: 3rem;
    height: 3rem;
    background: url(assets/images/icons/hexagon-white.svg) center center no-repeat;
    background-size: 3rem 3rem;
    transition: all 0.5s ease;
}
.fa-stack i{
    font-size: 1.2rem;
    line-height: 2.3rem;
    color: #fff;
    left: 14.4px;
    top: 3px;
    position: absolute;
    text-align: center;
    width: 100%;
    transition: all 0.5s ease;
}
.menu-container .icons{
    position: relative;
    left: -22rem;
}