
#intro .fa-stack{
    margin-left: -10px;
    position: relative;
    width: 3.25rem;
    height: 3.25rem;
    margin-bottom: 5rem;
}
#intro .fa-stack .hexagon{
    position: absolute;
    width: 9rem;
    height: 9rem;
    background: url(assets/images/icons/hexagon-green.svg) center center no-repeat;
    background-size: 9rem 9rem;
}
#intro .fa-stack:hover i{
    color: var(--primary-color);
}
#intro .fa-stack:hover .hexagon{
   position: absolute;
    width: 9rem;
    height: 9rem;
    background: url(assets/images/icons/hexagon-white.svg) center center no-repeat;
    background-size: 9rem 9rem;
    transition: all 0.5s ease;
}
#intro .fa-stack i{
    font-size: 3rem;
    line-height: 8rem;
    color: #fff;
    left: 28px;
    top: 3px;
    position: absolute;
    text-align: center;
    width: 100%;
    transition: all 0.5s ease;
}