.loader{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    background-color: #113448;
    
    &-box{
/*       background-color: red;*/
        height: 5rem;
        width: 5rem;
        position: absolute;
        top: 50%;
        left: 50%;
         transform: translate(-50%,-50%);
    }
}

.loader-circle1,.loader-circle2,.loader-circle3{
    border-radius: 100%;
    background-color: white;
    height: 1rem;
    width: 1rem;
    opacity: 0;
    position: absolute;
     top: 2.5rem;
    animation: load 1.2s infinite ease-in-out both;
}
.loader-circle1{
    animation-delay: -0.32s;
}
.loader-circle2{
    left: 1.6rem;
    animation-delay: -0.16s;
}
.loader-circle3{
    left: 3.2rem;
}


@keyframes load {
    0% {
        opacity: 0;
          height: 0;
        width: 0;
    }
    
    50% {
        opacity: 1;
        height: 1.3rem;
        width: 1.3rem;
    }


    60% {
        opacity: 1;
        height: 1.3rem;
        width: 1.3rem;
    }
    
    70%{
       opacity: 0.5;
    }
    
    90%{
        opacity: 0;
    }
    100% {
        opacity: 0;
        height: 0;
        width: 0;
    }
}
