.projects{
    margin-top: 5rem;
}
.projects li{
    display: inline;
}
.projects li a{
    background-color: #EEE;
   padding: 7px 20px;
    border-radius: 3px;
    margin-right: 15px;
}
.projects li a:hover{
    color: $white;
    background-color: var(--primary-color);
    transition: all .5s;
}
.projects li a{
    color: #555;
    font-weight:500;
    text-transform: uppercase;
}
.projects .active{
        color: $white;
    background-color: var(--primary-color);
}
.image-block{
    margin-top: 5rem;
}
.project-images .col-md-3{
    padding: 0;
}

#consultants .sub-heading{
    padding: 0 40rem;
}

.consultants-info{
        &-name{
        font-size: 20px;
    }
}

#consultants .fa-stack{
    margin-right: .5rem;
    margin-bottom: 0.75rem;
    margin-left: 0.125rem;
    width: 3.25rem;
    height: 3.25rem;
}
#consultants .fa-stack .hexagon{
    position: absolute;
    width: 3rem;
    height: 3rem;
    background: url(assets/images/icons/hexagon-green.svg) center center no-repeat;
    background-size: 3rem 3rem;
}
#consultants .fa-stack:hover i{
    color: var(--primary-color);
}
#consultants .fa-stack:hover .hexagon{
    position: absolute;
    width: 3rem;
    height: 3rem;
    background: url(assets/images/icons/hexagon-white.svg) center center no-repeat;
    background-size: 3rem 3rem;
    transition: all 0.5s ease;
}
#consultants .fa-stack i{
    font-size: 1.2rem;
    line-height: 2.3rem;
    color: #fff;
    left: 14.4px;
    top: 3px;
    position: absolute;
    text-align: center;
    width: 100%;
    transition: all 0.5s ease;
}
.icons{
    margin-left: -2rem;
}