.services{
    &-01-img img{
         border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        margin-top: 5rem;
    }
    
    &-01-content{
        border: 1px solid #DDD;
        padding: 0 40px;

        .text-sm{
            margin-top: 15px;
        }
    }
    
    &-01-btn{
        margin-top: 2rem;
        position: relative;
        top: 1.1rem;
        
        :hover{
            background-color: $white;
        }
    }
    
    &-02-img1{
         background: #333 url(assets/images/details-1-background.jpg) no-repeat center center;
          background-size:cover;
          height: 70vh;
        width: 50%;
        position: relative;
    }
     &-02-img2{
         background: #333 url(assets/images/details-2-background.jpg) no-repeat center center;
          background-size:cover;
          height: 70vh;
        width: 50%;
        position: relative;
    }
    
    &-02-content1{
        padding-top: 50px;
        padding-left: 10rem;
    }
    
     &-02-content2{
       padding-top: 10rem;
         padding-left: 15rem;
    }

}

.fa-square{
    color: var(--primary-color);
    font-size: 8px;
}
.list{
    font-size: 17px;
    margin-left: -14.9px;
    color: #777;
    font-weight: 400;
}

.active-batch{
    color: $white;
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
    border-radius: 50%;
    font-size: 20px;
    padding: 0 9px;
    font-weight: bold;
    margin: 0 20px;
}
.circle-border-secondary{
    color: var(--secondary-color);
    background-color: $white;
    border: 2px solid var(--secondary-color);
    border-radius: 50%;
    font-size: 20px;
    padding: 0 9px;
    font-weight: bold;
    margin: 0 20px;
}
.circle-border-secondary:hover{
   color: var(--primary-color);
    border-color: var(--primary-color);
    cursor: pointer;
}

.services-02-content1 .activities:hover .circle-border-secondary{
    border-color: var(--primary-color);
    color: var(--primary-color);
    cursor: pointer;
    transition: all .5s;
}
.services-02-content1 .activities:hover .text-md{
    color: var(--primary-color);
    cursor: pointer;
    transition: all .5s;
}


.services-02-content1 .text-md{
    line-height: 70px;
}
.services-02 .sub-text{
    padding-left: 80px;
    width: 45.1rem;
    margin-top: 10px;
}

.service-types li{
     margin: 0;
    padding: 0;
      margin-right: 20px;
    font-size: 2.3rem;
    vertical-align: 20%;
    font-weight: bold;
    display: inline;
/*    color: #AAA;*/
    
}
.service-types li,
.service-types li a{
    transition: all .5s;
}
.service-types li:hover{
    color: var(--primary-color);
    cursor: pointer;
/*    transition: all .5s;*/
}
.service-types li:hover a{
    color: var(--primary-color);
}
.service-types .fas{
     margin: 0;
    padding: 0;
        margin-right: 5px;
    font-size: 1.5rem;
    vertical-align: 15%;
} 

.graphs{
    padding-left: 4.3rem;
    padding-top: 1rem;
}
.progress{
    height: 25px;
    width: 50rem;
    margin-bottom: 2rem;
    border-radius: 0;
}
.progress-bar{
    background-color: #17C59D;
}
.services-02-content2 #buisness .text-md{
    padding-left: 4.3rem;
    padding-top: 2rem;
}
.services-02-content2 #buisness .sub-text{
    padding-left: 4.5rem;
    width: 50rem;
}

#expertise .primary-color{
    font-size: 30px;
    font-weight: bold;
    vertical-align: -75%;
}
#expertise .paragraph,
#quality p{
    font-size: 17px;
    font-weight:normal;
    line-height: 2.5rem;
    color: #888;
    text-align: justify;
}
#expertise .paragraph strong,
#quality strong{
    color: var(--secondary-color);
    
}
#expertise .col-md-10{
    padding-top: 2.3rem;
    word-spacing: 2px;
}

#quality{
    padding: 1rem 7rem;
    
}
#quality p{
/*    text-align: justify; */
    padding-top: 10px;
    margin-left: -3.2rem;
}

/*
#quality strong{
    color: var(--secondary-color);
    
}
*/
.points{
    margin-left: -3.2rem;
}
.points .point .sentence{
    font-size: 16px;
    font-weight: normal;
    color: #888;
    line-height: 3.6rem;
    margin-left: 10px;
}

.testimonials .sub-text{
    padding: 0 48rem;
}

.testimonials img{
    border-radius: 100%;
    width: 10rem;
}
#clients .client{
    padding: 25px 60rem;
}
.testimonials #clients p{
    font-size: 17px;
    font-weight: normal;
    color: #888;
    font-style: italic;
    margin-top: 20px;
}